/* General Styles */
body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    background-color: #1A1A2E;
    color: #EAEAEA;
    background-image: linear-gradient(to bottom, #1A1A2E, #16213E);
    overflow-x: hidden;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-image: linear-gradient(to right, #1DB954, #1B6F22);
    color: transparent; /* This makes the text color transparent */
    -webkit-background-clip: text; /* For Safari */
    background-clip: text; /* Standard property */
    animation: shine 5s linear infinite;
    display: inline-block; /* Required for background-clip to work */
}

@keyframes shine {
    0% { background-position: right; }
    100% { background-position: left; }
}

@keyframes enterAndSpin {
    0% { right: 100%; transform: translateY(-50%) rotate(0deg); }
    100% { right: calc(50% - 127.5px); transform: translateY(-50%) rotate(360deg); }
}

.logo-entering-spinning {
    animation: enterAndSpin 2s forwards, spin 1s linear infinite 2s;
}

@keyframes spin {
    from { transform: translateY(-50%) rotate(0deg); }
    to { transform: translateY(-50%) rotate(360deg); }
}

@keyframes exit {
    from { right: 50%; transform: translateY(-50%); }
    to { right: -100%; transform: translateY(-50%); }
}

.logo-spinning {
    animation: spin 1s linear infinite;
    /* Reduced the duration to 1s for a faster spin */
}

.logo-exiting {
    animation: exit 1s forwards;
}

.logo-idle {
    right: -100%; /* Move it off-screen when idle */
    transform: translateY(-50%);
}

.spotify-logo {
    position: absolute;
    right: -100%; /* Start off-screen */
    top: 30%; /* Center vertically */
    transform: translateY(-50%); /* Move up slightly */
    z-index: 10; /* Ensure it's above other elements */
}

button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.2rem;
    color: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
    z-index: 1;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

button::before {
    content: '';
    position: absolute;
    background: linear-gradient(45deg, #1DB954, #1B6F22, #189742);
    top: 0;
    left: -100%;
    width: 300%;
    height: 100%;
    z-index: -1;
    transition: all 0.5s ease;
}

button:hover::before {
    left: 0;
}

button:hover {
    color: #000;
    background: #fff;
    box-shadow: 0 0 10px #1DB954;
}

.container {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    padding: 2rem;
    width: 50%;
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    position: relative;
}

.spotify-link:hover, .playlist-link:hover {
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        box-shadow: none;
    }
    50% {
        transform: scale(1.05);
        box-shadow: 0 0 20px #1DB954;
    }
    100% {
        transform: scale(1);
        box-shadow: none;
    }
}

/* Form Styles */
form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
    align-items: center;
    width: 100%;
}

label {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

input[type="text"] {
    padding: 0.5rem;
    border: none;
    border-radius: 25px;
    outline: none;
    font-size: 1rem;
    width: 100%;
    background-color: #333;
    color: #EAEAEA;
}

input[type="submit"] {
    padding: 0.5rem 1rem;
    background: linear-gradient(45deg, #1DB954, #189742);
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    width: 33.33%;
}

input[type="submit"]:hover {
    transform: translateY(-1px); /* subtle move up */
    box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08); /* Enhanced shadow on hover */
}

/* Results List Styles */
ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 0.5rem 0;
    border-bottom: 1px solid #333;
}

/* NavBar Styles */
nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

nav img {
    max-width: 100%;
    height: auto;
    width: 20%;
    margin-bottom: 1rem; /* Adds space between the logo and the button-container */
}

.button-container {
    display: flex;
    justify-content: space-between; /* Distribute the space between the buttons */
    width: 100%; /* Takes full width to push buttons to edges */
    align-items: center;
    padding: 0 1rem; /* Adds padding to the sides to ensure buttons don't touch edges */
}

/* Updated LogoutButton styles */
.logout-button {
    justify-self: flex-start; /* Aligns the button to the start (left side) */
    align-self: flex-start;
    margin-left: 25%; 
}

/* New styles for the go-to-playlist-button */
.go-to-playlist-button {
    padding: 0.5rem 2rem;
    background: linear-gradient(45deg, #1DB954, #189742);
    color: #EAEAEA;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    font-size: 1rem;
    justify-self: flex-end; /* Aligns the button to the end (right side) */
    align-self: flex-end;
    margin-right: 25%; 
}

.go-to-playlist-button:hover {
    background-color: #189742;
    transform: translateY(-1px);
    box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
}

/* Updated styles for the logout-button */
.logout-button {
    padding: 0.5rem 2rem;
    background-color: #333;
    color: #EAEAEA;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    font-size: 1rem;
}

.logout-button:hover {
    background-color: #444;
    transform: translateY(-1px); 
    box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
}

.spotify-login-page {
    text-align: center;
    padding: 2rem;
}

.spotify-button {
    display: block;
    margin: 1rem auto;
    padding: 0.5rem 2rem;
    background-color: #1DB954;  /* Spotify green */
    color: #fff;
    border: none;
    border-radius: 25px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
}

.spotify-button:hover {
    background-color: #189742;  /* Slightly darker green on hover */
}

.guest-button {
    background-color: #333;  /* Muted color for the guest button */
}

.spotify-link {
    display: block;
    margin: 1rem 0;
    color: #1DB954;  /* Spotify green for links */
    text-decoration: none;
}

.spotify-link:hover {
    text-decoration: underline;
}

.create-playlist-button {
    padding: 0.5rem 2rem;
    background: linear-gradient(45deg, #1DB954, #189742); /* Spotify green gradient */
    color: #EAEAEA; /* Light gray text */
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    font-size: 1rem;
    display: block;
    margin-bottom: 1rem;
}

.create-playlist-button:hover {
    background-color: #189742; /* Slightly darker green on hover */
    transform: translateY(-1px); 
    box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
}

.button-container {
    display: flex;
    justify-content: space-between; /* Distribute the space between the buttons */
    margin-bottom: 1rem; /* Space before the navigation bar */
}

/* Styling for the playlist link */
.playlist-link {
    display: inline-block;
    padding: 0.5rem 2rem;
    background: #333; /* Muted gray background */
    color: #EAEAEA; /* Light gray text */
    border-radius: 25px; /* Rounded corners */
    text-decoration: none; /* Remove the underline */
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    transition: all 0.3s ease;
    font-size: 1rem;
    margin-left: 1rem; /* Space between the Create Playlist button and the link */
}

/* Enhancing the hover effect for the playlist link */
.playlist-link:hover {
    background-color: #444; /* Slightly darker gray on hover */
    transform: translateY(-1px); 
    box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
}

#resultsList li {
    display: flex;
    align-items: center;
}

#resultsList img {
    border-radius: 4px;
    margin-right: 1rem;
}

input[type="submit"] {
    padding: 0.5rem 1rem;
    background: linear-gradient(45deg, #1DB954, #189742);
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    width: 33.33%;
    line-height: 1.5;  /* New line to adjust the line height */
    vertical-align: middle;  /* New line to vertically align the text */
}

/* Responsive Styles for Mobile */
@media (max-width: 768px) {
    body {
        padding: 10% 5%;
    }
    
    form {
        margin-top: 20vh;
    }

    input[type="text"] {
        font-size: 1.5rem;
        padding: 0.8rem;
    }

    nav img {
        width: 50%; /* Adjust the width of the logo for mobile */
    }
}
