/* General Styles */
body {
    font-family: 'Lato', sans-serif;
    background-color: #1A1A2E;
    color: #EAEAEA;
    padding: 5% 15%;
}

.container {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 2rem;
    border-radius: 5px;
}

/* Form Styles */
form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
    align-items: center;
}

label {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

input[type="text"] {
    padding: 0.5rem;
    border: none;
    border-radius: 25px;
    outline: none;
    font-size: 1rem;
    width: 100%;
    background-color: #333;
    color: #EAEAEA;
}

input[type="submit"] {
    padding: 0.5rem 1rem;
    background: linear-gradient(45deg, #1DB954, #189742);
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    width: 33.33%;
}

input[type="submit"]:hover {
    transform: translateY(-1px); /* subtle move up */
    box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08); /* Enhanced shadow on hover */
}

/* Results List Styles */
ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 0.5rem 0;
    border-bottom: 1px solid #333;
}

/* Responsive Styles for Mobile */
@media (max-width: 768px) {
    body {
        padding: 10% 5%;
    }
    
    form {
        margin-top: 20vh;
    }

    input[type="text"] {
        font-size: 1.5rem;
        padding: 0.8rem;
    }
}
