<!DOCTYPE html>
<html>
<head>
    <title>Search Names</title>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="static/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="container">
        <!-- Search Form -->
        <form action="/search" method="post">
            <label for="query">Enter Your Sentence Here!</label>
            <input type="text" id="query" name="query" placeholder="Enter your sentence here..." required>
            <input type="submit" value="Search">
        </form>
        <!-- Results List -->
        <ul>
            {% if names %}
                {% for name in names %}
                    <li>{{ name }}</li>
                {% endfor %}
            {% endif %}
        </ul>
    </div>
</body>
</html>
